<div class="container">
    <h4>Name</h4>
    <p>Robin is a playable supporting character from the 2023 science fantasy turn-based tactical role-playing video game Honkai: Star Rail, A Halovian singer born in Penacony and rose to cosmic fame. An elegant and demure young lady. This time, she has been invited home by The Family to grace everyone with a song at the Charmony Festival. She can use the power of Harmony to broadcast her music, manifesting "resonance" among not only her fans but all manner of lifeforms.</p>
</div>