<img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t39.30808-6/468829642_606996501774664_2210066793168147117_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=1EN_cehY6PoQ7kNvgF-VlE6&_nc_zt=23&_nc_ht=scontent.fcrk1-1.fna&_nc_gid=AAw_Z0u-fGJa_1zZeE2-PMt&oh=00_AYAkJOPStgbILE5sgCuMzJxn6t_HWlh7zwe0NJJK4uSu3w&oe=674E5928" alt="">
<div class="text-center">
    <h2>{{ info.name }}</h2>
    <h4 class="text-secondary">{{ info.title }}</h4>
</div>
<br>
<h4 class=""> Contact Information:  </h4>
<p class="text-left">{{ info.contact[0]}} <br> {{ info.contact[1]}} <br> {{ info.contact[2]}}</p>

<style>
    img {
        width: 200px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    .text-center {
        margin-bottom: 10%;
    }
</style>