<div class="container mt-5">
    <h4>Reactive Form</h4>
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class='form-control' type="text" name="name"  formControlName="name" placeholder="Your Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" required placeholder="Your email"  formControlName="email">
        </div>
        <div class="form-group">
            <label for="phone">Contact Number (Optional)</label>
            <input type="tel" class="form-control" name="phone"  placeholder="Your phone number"  formControlName="phone">
        </div>
        <div class="form-group">
            <label for="message">Project Overview or Message</label>
            <textarea class="form-control" name="message" rows="3" required placeholder="Leave a message here!"  formControlName="message"></textarea>
        </div>
        <input class='btn btn-outline-dark form-control' type="submit" value="Submit">
    </form>

    <div class="table-responsive mt-5" *ngIf="submitted">
        <table class="table table-light table-striped table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <th>Label</th>
                    <th>Your Entered Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ inputs[1].name }}</td>
                </tr>
                <tr >
                    <td>Email</td>
                    <td>{{ inputs[1].email }}</td>
                </tr>
                <tr >
                    <td>Phone Number</td>
                    <td>{{ inputs[1].phone }}</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>{{ inputs[1].message }}</td>
                </tr>      
            </tbody>
        </table>
    </div>
</div>