/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: antiquewhite;
}
img {
    display: block;
    margin: 0 auto;
    width: 25%;
} 